.modal {
  padding: 10px;
  border-radius: 10px;
  position: fixed;
  background: white;
  width: 80%;
  margin: 0px 5%;
  .title {
    color: purple;
    width: 100%;
    text-align: center;
  }

  .content {

  }

}
