/* Sitewide */
@import '/utils/colors';
@import '/icons/style';
@import '/utils/FlexStyles';


/* Shell */
@import '/shell/Header';
@import '/shell/Footer';
@import '/shell/PageLoader';

/* Components */
@import '/components/ProgressBar';
@import '/components/Button';
@import '/components/Modal';


body{
  background-image: url("/assets/background.png");
  background-position: center;
  background-size: cover;
}

#questionsBox {
  max-width: 800px;
  min-width: 320px;
  margin: 0 auto;
  padding: 1em 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#mainWrapper{
  max-width: 800px;
  margin: 40px auto 80px auto;
}

#questionHeader {
    text-align: center;
    color: $morning-sky;
    font-weight: 600;
}
#questionHeaderContainer{
  margin: 25px 10px;
}
#questionHeaderContainer {
  .title {
      padding: 10px;
  }

  .icon-info {
    display: none;
  }
}
#questionSubHeader{
  font-size: 16px;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  #mainWrapper { margin-top: 20px; }
  #questionSubHeader{ display: none;}
  #questionHeaderContainer {
    margin: 20px 10px;
    contain: layout;
    .title {
      float: left;
    }
    .icon-info {
      padding: 10px;
      float: right;
      display: inline;
    }
  }
}


.selectionImageContainer img{
  width: 150px;
}
#outerBox {
    background-color: white;
    box-shadow: 0px 0px 20px -15px;
    padding: 0px 0px 20px 0;
    border-radius: 10px;
    margin: 0 auto;
    text-align: center;
}

@media only screen and (max-width: 800px) {
  #outerBox { border-radius: 0; }
}

.selectionBox{
  padding: 10px;
  margin: 10px;
  border: solid 1px lightgrey;
  border-radius: 5px;
}
.checkboxText{
  text-align: center;
}
.checkbox{
  float: left;
}

#submitButtonContainer {
    height: 50px;
}
