@import 'scss/shell/Header';
@import 'scss/shell/Footer';
@import 'scss/shell/PageLoader';

@import 'scss/utils/FlexStyles';

@import 'scss/components/ProgressBar';

body{
  background-image: url("/assets/background.png");
  background-position: center;
  background-size: cover;
}

#questionsBox {
  max-width: 800px;
  min-width: 320px;
  margin: 0 auto;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#mainWrapper{
  max-width: 800px;
  margin: 80px auto;
}

#questionHeader {
    text-align: center;
    color: #00bdff;
    font-weight: 600;
}
#questionHeaderContainer{
  margin: 10px 10px 50px;
}
#questionHeaderContainer div{
  margin: 10px;
}
#questionSubHeader{
  font-size: 12px;
  text-align: center;
}
.selectionImageContainer img{
  width: 150px;
}
#outerBox {
    background-color: white;
    box-shadow: 0px 0px 20px -15px;
    padding: 50px 10px 30px;
    border-radius: 10px;
    margin: 0 auto;
    text-align: center;
}
.selectionBox{
  /* display: inline-block; */
  padding: 10px;
  margin: 10px;
  border: solid 1px lightgrey;
  border-radius: 5px;
}
.checkboxText{
  text-align: center;
}
.checkbox{
  float: left;
}
.submitButton{
  text-align: center;
  color: white;
  padding: 5px;
  margin: 20px;
  width: 100px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 600;
  position: absolute;
  right: 0;
}
.disabled {
  background-color: lightgrey;
}
.active {
  background-color: green;
}
#submitButtonContainer {
    height: 50px;
    position: relative;
}
.submitLoader {
  height: 20px;
  width: 20px;
  float: left;
}

.submitLoader img {
  height: 100%;
  animation: loaderIndicator 1.4s infinite linear;
}

@keyframes loaderIndicator {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
