body{
  background-image: url("/assets/background.png");
  background-position: center;
  background-size: cover;
}

#mainWrapper{
  max-width: 800px;
  margin: 80px auto;
}

#navbarContainer{
  height: 50px;
  background: black;
}

#navbarContent{
  max-width: 800px;
  margin: 0 auto;
}

@media (max-width: 500px) {
  #navbarContainer{
    margin-bottom: 15px;
  }
}

#navbarContainer img{
  height: 30px;
  line-height: 40px;
  padding: 10px 0;
}

#questionHeader {
    text-align: center;
    color: #00bdff;
    font-weight: 600;
}
#questionHeaderContainer{
  margin: 10px 10px 50px;
}
#questionHeaderContainer div{
  margin: 10px;
}
#questionSubHeader{
  font-size: 12px;
  text-align: center;
}
.selectionImageContainer img{
  width: 150px;
}
#outerBox {
    background-color: white;
    box-shadow: 0px 0px 20px -15px;
    padding: 50px 10px 30px;
    border-radius: 10px;
    margin: 0 auto;
    text-align: center;
}
.selectionBox{
  display: inline-block;
  padding: 10px;
  margin: 10px;
  border: solid 1px lightgrey;
  border-radius: 5px;
}
.checkboxText{
  text-align: center;
}
.checkbox{
  float: left;
}
.submitButton{
  color: white;
  padding: 10px;
  margin: 20px;
  width: 100px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 600;
  position: absolute;
  right: 0;
}
.disabled {
  background-color: lightgrey;
}
.active {
  background-color: green;
}
#submitButtonContainer {
    height: 50px;
    position: relative;
}
#footerContainer {
    bottom: 0px;
    color: white;
    height: 40px;
    width: 100%;
    background-color:#2b2c2c;
    position: fixed;
    bottom:0;
}
#footerContent{
  max-width: 800px;
  margin: 0 auto;
  line-height: 40px;
}

#reserved{
  margin-left: 20px;
  color:lightgrey;
}

#footerSlogan {
    float: right;
    color:lightgrey;
}

.progressBarContainer {
  width: 100%;
  height: 20px;
  position: relative;
}

.barFill {
  width: 0%;
  transition: width ease .5s;
  height: 100%;
  background: purple;
  border-radius: 20px 0px 0px 20px;
}

.barBg {
  position: absolute;
  top: 0;
  width: 100%;
  height: 20px;
  display: flex;
  align-items: center;
  z-index: -1;
}

.line {
  height: 2px;
  width: 100%;
  background: #999;
}

.circle {
  width: 12px;
  height: 12px;
  background: #999;
  border-radius: 20px;
}
