body{
  background-image: url("/assets/background.png");
  background-position: center;
  background-size: cover;
}

#mainWrapper{
  max-width: 800px;
  margin: 80px auto;
}

#navbarContainer{
  height: 50px;
  background: black;
}

#navbarContent{
  max-width: 800px;
  margin: 0 auto;
}

#navbarContainer img{
  height: 30px;
  line-height: 40px;
  padding: 10px 0;
}

#questionHeader {
    text-align: center;
    color: #00bdff;
    font-weight: 600;
}
#questionHeaderContainer{
  margin: 10px 10px 50px;
}
#questionHeaderContainer div{
  margin: 10px;
}
#questionSubHeader{
  font-size: 12px;
  text-align: center;
}
.selectionImageContainer img{
  width: 150px;
}
#outerBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background-color: white;
    box-shadow: 0px 0px 20px -15px;
    padding: 50px 10px 30px;
    border-radius: 10px;
    margin: 0 auto;
    text-align: center;
}
#questionsBox {
  flex-basis: 100%;
  display: grid;
  text-align: center;
  grid-template-columns: repeat(4, 200px);
}
.selectionBox{
  display: inline-block;
  padding: 10px;
  margin: 10px;
  border: solid 1px lightgrey;
  border-radius: 5px;
}
.checkboxText{
  text-align: center;
}
.checkbox{
  float: left;
}
.submitButton{
  align-items: center;
  color: white;
  padding: 10px;
  margin: 20px;
  width: 100px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 600;
  /* position: absolute; */
  right: 0;
}
.disabled {
  background-color: lightgrey;
}
.active {
  background-color: green;
}
#submitButtonContainer {
  /* margin-top: 50px; */
    align-self: flex-end;
    flex-basis: 100%;
    height: 50px;
}
#footerContainer {
    bottom: 0px;
    color: white;
    height: 40px;
    width: 100%;
    background-color:#2b2c2c;
    position: fixed;
    bottom:0;
}
#footerContent{
  max-width: 800px;
  margin: 0 auto;
  line-height: 40px;
}

#reserved{
  margin-left: 20px;
  color:lightgrey;
}

#footerSlogan {
    float: right;
    color:lightgrey;
}

#progressBar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 100%;
}

.progressBarDot {
  height: 10px;
  width: 10px;
  border-radius: 10px;
  background-color:lightgray;
}

#progressBarLine {
  height: 4px;
  background-color: lightgray;
  transition: .2s ease-in;
}

#progressBarFiller {
  height: 100%;
  background-color: purple;
  border-radius: 20px 0px 0px 20px;
  transition: .2s ease-in;
}




@media (max-width: 600px) {
  #navbarContainer{
    margin-bottom: 15px;
  }
  #outerBox {
    width: 600px;
  }
  #questionsBox {
    display: grid;
    grid-template-columns: repeat(2, 250px);
  }
  #submitButtonContainer {
    align-self: center;
    display: flex;
    width: 485px;
  }
  .submitButton {
    align-self: center;
    margin: 0;
    width: 100%;
  }
}
