@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?m5b9y0');
  src:  url('fonts/icomoon.eot?m5b9y0#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?m5b9y0') format('truetype'),
    url('fonts/icomoon.woff?m5b9y0') format('woff'),
    url('fonts/icomoon.svg?m5b9y0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e900";
}
.icon-cog:before {
  content: "\e994";
}
.icon-cogs:before {
  content: "\e995";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-info:before {
  content: "\ea0c";
}
.icon-loop2:before {
  content: "\ea2e";
}
.icon-arrow-right2:before {
  content: "\ea3c";
}
.icon-arrow-left2:before {
  content: "\ea40";
}
